@media screen and (max-width: 768px){
    
    * {
        padding: 0;
        margin: 0;
    }

a {
    text-decoration: none;
    color: white;
}

a:visited{
    color: inherit;
}

.main-header {
    height: 100%;
    background-color: lightsalmon;
    color: white;
}

.main-header h1 {
    font-size: 20px;
    text-align: center;
}

.main-content {
    padding-top: 10px;
    padding-left: 10px;
    background-color: mistyrose;
    height: 750px;
    color: white;
}

.pref {
    margin: 20px;
}

.pref p {
    font-size: 15px;
    color: black;
    background-color: aquamarine;
    text-align: center;
    letter-spacing: 15px;
    border-radius: 20px;
}

.pref a {
    font-size: 15px;
    margin-right: 15px;
    color: rgb(12, 26, 221);
}


.back-top {
    margin-top: 50px;
    color: white;
    
}

.back-top a {
    font-size: 5px;
    background-color: #000;
    border-radius: 8px;
    padding: 5px;
}

.page-footer {
    background-color: #000;
    opacity: .6;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.footer-list {
    display: flex;
    opacity: 1;
    justify-content: center;
    list-style: none;
    padding-top: 2px;
}

.footer-list a {
    margin: 5px;
    font-size: 12px;
    color: white;
}

.footer-list a:hover {
    color: aqua;
}

}